<div class="footer">
  <div style="width: 33%;">
    <h1>Resources:</h1>
    <p style="font-size: 1.2rem;">🏠 <a style="font-size: 1.2rem;" routerLink="/">Home</a></p>
    <p style="font-size: 1.2rem;">🪛 <a style="font-size: 1.2rem;" routerLink="/how-to">How-To</a></p>
    <p style="font-size: 1.2rem;">💬 <a style="font-size: 1.2rem;" target="_blank" href="https://discord.com/channels/1457791508521685141/1457791511310762089">Discord</a></p>
    <p style="font-size: 1.2rem;">💾 <a style="font-size: 1.2rem;" target="_blank" href="https://github.com/e-500/chill-sharp-light/releases">Download NuGet package</a></p>
    <p style="font-size: 1.2rem;">🔗 <a style="font-size: 1.2rem;" target="_blank" href="https://github.com/e-500/chill-sharp-light">GitHub repository</a></p>
    <p style="font-size: 1.2rem;">🐞 <a style="font-size: 1.2rem;" target="_blank" href="https://github.com/e-500/chill-sharp-light/issues">Issues and bug reports</a></p>
  </div>
  <div style="width: 66%;">
    <h1>Disclaimer</h1>
    <table style="vertical-align: top;">
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.45rem;">👉</p></td>
        <td><p style="font-size: 0.7rem;">ChillSharp is an open source tool released under the GNU Affero General Public License v3 (AGPLv3).<br/>
          It is provided as-is, without warranties or guaranteed support.<br/>
          Users are encouraged to review, test, and evaluate the software to ensure it meets their needs.<br/>
          If you choose to use ChillSharp in a production environment, please do so only after performing appropriate testing and validation.<br/>
          The author does not assume responsibility for issues arising from its use.</p>
        </td>
      </tr>
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.45rem;">👉</p></td>
        <td><p style="font-size: 0.7rem;">If you need LGPL licensed version for your SaaS application, please contact us and describe your project.<br/>
          We are happy to support you!</p></td>
      </tr>
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.1rem;"></p></td>
        <td><p style="font-size: 1.2rem;">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.1rem;">🍪</p></td>
        <td><p style="font-size: 1.2rem;">We do not collect any cookie</p></td>
      </tr>
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.1rem;"></p></td>
        <td><p style="font-size: 1.2rem;">&nbsp;</p></td>
      </tr>
      <tr>
        <td><p style="font-size: 1.2rem; margin-top: -0.1rem;">💶</p></td>
        <td>
          <p style="font-size: 1.2rem; margin-top: -0.1rem;">Don-t forget to support Open Source.<br/>The server API library is not open source yet, but you can try it freely.<br/>Let me feel your enthusiasm, dear public!</p>
          <div style="padding-top: 6px;">
            <iframe src="https://github.com/sponsors/e-500/button" title="Sponsor e-500" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe> 👈
          </div>
        </td>
      </tr>
    </table>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>