.logo {
  display: flex;
  align-items: center;   /* vertical alignment */
  gap: 6px;             /* space between image and title */
  white-space: nowrap;   /* prevents wrapping */
  > img {
    margin-top: -4px;
    height: 2.9rem;
    object-fit: cover;
  }
}

.header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 100%;
  > img {
    width: 100%;
    object-fit: cover;
    // display: block;
    // margin: auto;
    // width: 100%;
  }
}

.footer {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  color: #ffffff !important;
  // h1 {
  //   text-shadow:
  //     3px 3px 0 #173e65,
  //     -3px 3px 0 #173e65,
  //     -3px -3px 0 #173e65,
  //     3px -3px 0 #173e65;
  // }
  p, a {
    color: #ffffff !important;
    font-size: 0.8rem;
  }
  > div {
    width: 100%;
  }
  // wide viewports
  @media (min-width: 1280px) {

  }

  // normal viewports
  @media (max-width: 1280px) {

  }

  // small viewports
  @media (max-width: 700px) {
    flex-direction: column !important;
    div {
      width: 100% !important;
    }
  }
}

.content {

  // wide viewports
  @media (min-width: 1280px) {

  }

  // normal viewports
  @media (max-width: 1280px) {

  }

  // small viewports
  @media (max-width: 700px) {
    padding: 0;
  }
  
}

div.content {
  // margin-top: -5rem;
  // overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;

  h1 {
    color: #ffffff;
    text-shadow:
      3px 3px 0 #000,
      -3px 3px 0 #000,
      -3px -3px 0 #000,
      3px -3px 0 #000;
  }

  h2 {
    color: #000;
    text-shadow:
      3px 3px 0 #fff,
      -3px 3px 0 #fff,
      -3px -3px 0 #fff,
      3px -3px 0 #fff;
  }

  .content-box {
    padding-left: 4px;
    padding-right: 4px;
  }
}